---
import Indicadores from '@/components/home/indicadores';
import Carousel from '../components/home/carousel.astro';
import Container from '../components/container.astro';
import type IHomePage from '../interfaces/homePage.interface';
import Layout from '../layouts/Layout.astro';
import fetchApi from '../lib/strapi';
import Charts from '@/components/home/charts';
import Map from '@/components/home/map';
import Noticias from '@/components/home/noticias.astro';
import Convocatorias from '@/components/home/convocatorias.astro';

let homePageData: IHomePage = {
	Carousel: [],
	CardsIndicadores: [],
	DescripcionGraficasSection: "",
	TituloGraficasSection: ""
};

try {
	homePageData = await fetchApi<IHomePage>({
		endpoint: 'home-page?fields[0]=id&fields[1]=TituloGraficasSection&fields[2]=DescripcionGraficasSection&populate[Carousel][fields][0]=mime&populate[Carousel][fields][1]=url&populate[CardsIndicadores]=*',
		wrappedByKey: 'data',
	});
} 
catch (error) 
{
	
}
---

<Layout>
	<!-- <svg class="absolute top-0 left-0 w-full h-auto z-[-1]" preserveAspectRatio="none" width="100%" height="auto" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
		<defs>
			<linearGradient id="gradiente-horizontal" x1="0%" y1="0%" x2="100%" y2="0%">
				<stop offset="0%" stop-color="#FBC7D4" />
				<stop offset="100%" stop-color="#9796F0" />
			</linearGradient>
		</defs>
		<path d="M0 30 C 25 50, 75 10, 100 20 L 100 0 L 0 0 Z" fill="url(#gradiente-horizontal)"/>
	</svg> -->
	
	<Container>
		<main>
			<!-- CONTENEDOR CAROUSEL Y CARDS -->
			<div class="grid place-items-center pt-4 pb-8 md:pt-4 md:pb-15">
				<div class="w-full h-90 md:h-120 lg:h-120 relative">
					<Carousel carouselData={homePageData.Carousel} />
					<div class="w-full absolute bottom-0 px-12 sm:px-20 md:px-15 lg:px-10 z-40">
						<Indicadores indicators={homePageData.CardsIndicadores} client:visible client:only />
					</div>
				</div>
			</div>
			<!-- CONTENEDOR CARDS DE GRAFICAS -->
			<div class="w-full pb-15">
				<h2 class="text-4xl lg:text-3xl font-bold text-center lg:tracking-tight fade-in-up">
					{homePageData.TituloGraficasSection}
				</h2>
				<p class="text-base mt-2 mb-4 text-slate-600 text-center fade-in-up">
					{homePageData.DescripcionGraficasSection}
				</p>
				<Charts client:only />
			</div>
			<!-- CONTENEDOR DE MAPA GUATEMALA -->
			<div class="w-full pb-20">
				<Map client:only />
			</div>
			<!-- CONTENEDOR CONVOCATORIAS -->
			<div class="w-full pb-20 fade-in-up">
				<Convocatorias />
			</div>
			<!-- CONTENEDOR NOTICIAS Y NOVEDADES -->
			<div class="w-full pb-20 fade-in-up">
				<Noticias />
			</div>
		</main>
	</Container>
</Layout>
