---
import { Briefcase, ChartArea, ChartColumnBig, Users } from "lucide-astro";
import StatCard from "./ui/stat-card.astro";
import fetchApi from "@/lib/strapi";
import type IHomePage from "@/interfaces/dashboard.interface";
import { PUBLIC_STRAPI_URL } from "@/config";
import { Tick } from "./ui/icons";
import CardsIndicadores from "./CardsIndicadores";
import Carousel from "./ui/Carousel.astro";

const homePageData = await fetchApi<IHomePage>({
  endpoint: 'home-page?fields[0]=id&populate[Carousel][fields][0]=mime&populate[Carousel][fields][1]=url&populate[CardsIndicadores]=*',
  wrappedByKey: 'data',
});
---

<main class="grid place-items-center pt-4 pb-8 md:pt-4 md:pb-10">
    <div class="w-full h-90 md:h-120 lg:h-120 relative">
        <!-- CAROUSEL -->
        <Carousel carouselData={homePageData.Carousel} />
        <!-- CARDS -->
        <div class="w-full absolute bottom-0 px-30 md:px-15 lg:px-10 z-40">
            <CardsIndicadores indicators={homePageData.CardsIndicadores} client:only />
        </div>

    </div>
</main>