---
// @ts-ignore
// import { Icon } from "astro-icon/components";

// const features = [
//   {
//     title: "Bring Your Own Framework",
//     description:
//       "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
//     icon: "bx:bxs-briefcase",
//   },
//   {
//     title: "100% Static HTML, No JS",
//     description:
//       "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
//     icon: "bx:bxs-window-alt",
//   },
//   {
//     title: "On-Demand Components",
//     description:
//       "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
//     icon: "bx:bxs-data",
//   },
//   {
//     title: "Broad Integration",
//     description:
//       "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
//     icon: "bx:bxs-bot",
//   },
//   {
//     title: "SEO Enabled",
//     description:
//       "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
//     icon: "bx:bxs-file-find",
//   },
//   {
//     title: "Community",
//     description:
//       "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
//     icon: "bx:bxs-user",
//   },
// ];
---

<div class="fade-in-up">
  <div class="mt-16 md:mt-0 appear-obj">
    <h2 class="text-4xl lg:text-3xl font-bold lg:tracking-tight">
      Oportunidades y Actualidad
    </h2>
    <p class="text-lg mt-4 text-slate-600">
      Tu conexión con el conocimiento y las oportunidades
    </p>
  </div>
  
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center gap-8 mt-8">
    <div class="w-70 h-100 rounded-xl overflow-hidden appear-obj relative border-1 border-gray-300 shadow-lg">
      <div class="absolute left-0 top-0 h-[60%] w-full bg-[url('/learn.webp')] bg-cover bg-center">
      </div>
      <div class="absolute top-0 w-full h-full">
        <svg preserveAspectRatio="none" width="100%" height="auto" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 50 C 15 45, 35 45, 50 50 C 65 55, 85 55, 100 50 L 100 100 L 0 100 Z" class="fill-white"/>
        </svg>
      </div>
      <div class="absolute left-0 bottom-0 h-[45%] w-full px-4">
        <h2 class="text-lg font-bold lg:tracking-tight">
          Cursos en línea
        </h2>
        <p class="text-sm mt-2 mb-4 text-slate-600">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Totam ipsum officia odit quidem iste blanditiis possimus 
          voluptatum expedita, corporis porro. Tempore dicta doloremque 
          rerum quo aliquam.
        </p>
      </div>
    </div>
    <div class="w-70 h-100 rounded-xl overflow-hidden appear-obj relative border-1 border-gray-300 shadow-lg">
      <div class="absolute left-0 top-0 h-[60%] w-full bg-[url('/comunicados.webp')] bg-cover bg-center">
      </div>
      <div class="absolute top-0 w-full h-full">
        <svg preserveAspectRatio="none" width="100%" height="auto" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 50 C 15 45, 35 45, 50 50 C 65 55, 85 55, 100 50 L 100 100 L 0 100 Z" class="fill-white"/>
        </svg>
      </div>
      <div class="absolute left-0 bottom-0 h-[45%] w-full px-4">
        <h2 class="text-lg font-bold lg:tracking-tight">
          Comunicados
        </h2>
        <p class="text-sm mt-2 mb-4 text-slate-600">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Totam ipsum officia odit quidem iste blanditiis possimus 
          voluptatum expedita, corporis porro. Tempore dicta doloremque 
          rerum quo aliquam.
        </p>
      </div>
    </div>
    <div class="w-70 h-100 rounded-xl overflow-hidden appear-obj relative border-1 border-gray-300 shadow-lg">
      <div class="absolute left-0 top-0 h-[60%] w-full bg-[url('/empleos.webp')] bg-cover bg-center">
      </div>
      <div class="absolute top-0 w-full h-full">
        <svg preserveAspectRatio="none" width="100%" height="auto" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 50 C 15 45, 35 45, 50 50 C 65 55, 85 55, 100 50 L 100 100 L 0 100 Z" class="fill-white"/>
        </svg>
      </div>
      <div class="absolute left-0 bottom-0 h-[45%] w-full px-4">
        <h2 class="text-lg font-bold lg:tracking-tight">
          Convocatorias de empleo
        </h2>
        <p class="text-sm mt-2 mb-4 text-slate-600">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Totam ipsum officia odit quidem iste blanditiis possimus 
          voluptatum expedita, corporis porro. Tempore dicta doloremque 
          rerum quo aliquam.
        </p>
      </div>
    </div>
    <div class="w-70 h-100 rounded-xl overflow-hidden appear-obj relative border-1 border-gray-300 shadow-lg">
      <div class="absolute left-0 top-0 h-[60%] w-full bg-[url('/transparencia.webp')] bg-cover bg-center">
      </div>
      <div class="absolute top-0 w-full h-full">
        <svg preserveAspectRatio="none" width="100%" height="auto" viewBox="0 0 100 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 50 C 15 45, 35 45, 50 50 C 65 55, 85 55, 100 50 L 100 100 L 0 100 Z" class="fill-white"/>
        </svg>
      </div>
      <div class="absolute left-0 bottom-0 h-[45%] w-full px-4">
        <h2 class="text-lg font-bold lg:tracking-tight">
          Información Pública
        </h2>
        <p class="text-sm mt-2 mb-4 text-slate-600">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Totam ipsum officia odit quidem iste blanditiis possimus 
          voluptatum expedita, corporis porro. Tempore dicta doloremque 
          rerum quo aliquam.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16 appear-obj fade-in-up">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div> -->
