---
import Footer from "@/components/footer.astro";
import Navbar from "../components/navbar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../lib/config";
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={SITE_DESCRIPTION} />
		<title>{SITE_TITLE}</title>

		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	</head>
	<body>
		<!-- <div class="absolute inset-0 -z-10 h-[calc(100%+27%)] w-full bg-linear-to-t from-[#4a84c1] to-[#e9e5ff]"></div> -->
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	img {
    content-visibility: auto;
  }
</style>
